Repository lunaticenslaved/game-space-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: tsc -p tsconfig.json --noEmit && npm run lint {staged_files}

prettier:
  run: npx prettier -w {staged_files}
  stage_fixed: true

feat(avatar):add user avatars
  .env.sample
  app/client/entities/game/core/game-logic.ts
  app/client/entities/user/components/avatar/avatar.tsx
  app/client/entities/user/components/info-list/info-list.tsx
  app/client/entities/user/index.ts
  app/client/entities/user/models/user.ts
  app/client/features/auth/logout/components/logout-button.tsx
  app/client/features/auth/sign-in/components/sign-in-form.tsx
  app/client/features/viewer/edit-avatar/avatar-editor.tsx
  app/client/features/viewer/edit-info/info-editor.tsx
  app/client/pages/profile/views/account/account.tsx
  app/client/shared/store/state.ts
  app/client/shared/store/store.ts
  app/client/shared/utils/index.ts
  app/server/app/app.dev.ts
  app/server/app/app.prod.ts
  app/server/app/constants.ts
  app/server/controllers/auth/_utils/create-user-dto.ts
  app/server/controllers/auth/_utils/index.ts
  app/server/controllers/auth/sign-in.ts
  app/server/controllers/auth/sign-up.ts
  app/server/controllers/viewer/update-avatar.ts
  app/server/controllers/viewer/update-info.ts
  app/server/prisma/migrations/20230909193030_rename_link_field_in_avatar/migration.sql
  app/server/prisma/schema.prisma
  app/server/shared/constants.ts
  app/server/shared/object-storage.ts
  app/server/shared/types.d.ts
  app/shared/api2/_utils/index.ts
  app/shared/api2/auth/actions.ts
  app/shared/api2/auth/types.ts
  app/shared/api2/viewer/actions.ts
  app/shared/api2/viewer/types.ts
  app/shared/constants.ts
  app/shared/models/user.ts
  package-lock.json
  package.json
  uploads/bird
Due: lint, prettier

chore(lint): fix linting files
  .eslintrc.js
  .gitignore
  .vscode/extensions.json
  package-lock.json
  package.json
Due: none

feat(viewer): add update password feature
  .eslintrc.js
  app/client/entities/player/components/player-list/player-list.tsx
  app/client/entities/player/index.ts
  app/client/entities/player/models/player.ts
  app/client/entities/user/components/avatar/avatar.module.scss
  app/client/entities/user/components/avatar/avatar.tsx
  app/client/entities/user/index.ts
  app/client/features/auth/sign-in/components/sign-in-form.tsx
  app/client/features/auth/sign-up/components/sign-up-form.tsx
  app/client/features/viewer/edit-password/password-editor.tsx
  app/client/pages/profile/views/account/account.tsx
  app/client/shared/components/avatar/avatar.module.scss
  app/client/shared/components/avatar/avatar.tsx
  app/client/shared/constants/index.ts
  app/server/controllers/auth/sign-in.ts
  app/server/controllers/viewer/index.ts
  app/server/controllers/viewer/update-avatar.ts
  app/server/controllers/viewer/update-info.ts
  app/server/controllers/viewer/update-password.ts
  app/shared/api2/viewer/actions.ts
  app/shared/api2/viewer/types.ts
Due: lint, prettier

feat(player): add players, scores and leaderboard
  app/client/entities/player/components/player-list/player-list.module.scss
  app/client/entities/player/components/player-list/player-list.tsx
  app/client/entities/player/hooks/use-players-list.ts
  app/client/entities/player/index.ts
  app/client/pages/game/process/game.tsx
  app/client/pages/leader-board/leader-board.module.scss
  app/client/pages/leader-board/leader-board.tsx
  app/server/controllers/index.ts
  app/server/controllers/players/get-players.ts
  app/server/controllers/players/index.ts
  app/server/controllers/players/save-player.ts
  app/server/prisma/migrations/20230912190844_add_player/migration.sql
  app/server/prisma/migrations/20230912194901_make_player_unique_for_user/migration.sql
  app/server/prisma/schema.prisma
  app/shared/api/index.ts
  app/shared/api/players/actions.ts
  app/shared/api/players/types.ts
  app/shared/models/index.ts
  app/shared/models/player.ts
Due: lint, prettier

chore(build): update configs and env variables
  .env.sample
  nodemon.json
  tsconfig.json
Due: none

fix(input.select): fix select styles
  app/client/shared/components/input/inputs/select/select.module.scss
Due: prettier

chore(formatting): add vscode formatting settings
  .gitignore
  .vscode/settings.json
  app/client/pages/game/start/start.tsx
Due: lint, prettier

feature(game): send game statistic on finish
  app/client/shared/navigation/use-navigation.ts
  app/server/controllers/players/index.ts
  app/server/controllers/players/save-player.ts
Due: lint, prettier

feature(leaderboard): fix styles and add search
  app/client/entities/player/components/player-list/player-list.module.scss
  app/client/entities/player/components/player-list/player-list.tsx
  app/client/pages/leader-board/leader-board.module.scss
  app/client/pages/leader-board/leader-board.tsx
  app/client/shared/components/avatar/avatar.tsx
Due: lint, prettier

refactor(ssr): move start app to functions
  app/server/app/app.dev.ts
  app/server/app/app.prod.ts
  app/server/app/utils.ts
  app/server/middlewares/add-headers.ts
Due: lint, prettier

fix(server): add no-frame header
  app/server/app/utils.ts
  app/server/middlewares/add-headers.ts
  app/server/middlewares/index.ts
  package.json
Due: lint, prettier

refactor(ssr): import createStore dynamically
  app/client/entities/player/index.ts
  app/client/entities/user/index.ts
  app/server/app/app.dev.ts
  app/server/app/app.prod.ts
  app/server/app/utils.ts
  tsconfig.json
Due: lint, prettier

chore(build): fix building for prod
  app/client/app/app.base.tsx
  app/client/features/auth/get-viewer/hooks/use-get-viewer.ts
  app/client/features/auth/logout/components/logout-button.tsx
  app/client/features/auth/sign-in/components/sign-in-form.tsx
  app/client/features/auth/sign-up/components/sign-up-form.tsx
  app/client/features/viewer/edit-info/info-editor.tsx
  app/client/index.client.tsx
  app/client/index.server.tsx
  app/client/shared/types/window.d.ts
  app/server/app/app.dev.ts
  app/server/app/app.prod.ts
  app/server/app/index.ts
  app/server/app/utils.ts
  app/server/index.ts
  app/server/shared/constants.ts
  app/server/tsconfig.json
  app/shared/store/index.ts
  app/shared/store/state.ts
  app/shared/store/store.ts
  package-lock.json
  package.json
  tsconfig.json
  uploads/bird
  vite.client.config.ts
  vite.server.config.ts
Due: lint, prettier

chore(readme): update readme
  README.md
Due: none

chore(workflow): update build and daploy workflow
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  Dockerfile
  Dockerfile.client
  utils/wait-for.sh
Due: none

chore(dockerfile): fix dockerfile build
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
Due: none

chore(workflow): update deploy workflow
  .env.sample
  .github/workflows/deploy.yml
  app/server/shared/constants.ts
  app/server/shared/types.d.ts
  docker-compose.yml
  package.json
Due: lint, prettier

refactor(button): remove scss module
  app/client/shared/components/button/button.module.scss
  app/client/shared/components/button/button.scss
  app/client/shared/components/button/button.tsx
  app/client/shared/styles/colors.scss
Due: lint, prettier

refactor(the-navbar-tabs): remove scss module
  app/client/widgets/the-navbar/views/tabs/navbar-tabs.module.scss
  app/client/widgets/the-navbar/views/tabs/navbar-tabs.scss
  app/client/widgets/the-navbar/views/tabs/navbar-tabs.tsx
Due: lint, prettier

feature(button): add width prop
  app/client/entities/user/components/auth-form/auth-form.tsx
  app/client/features/forum/components/post-form-dialog/post-form-dialog.tsx
  app/client/features/viewer/edit-avatar/avatar-editor.tsx
  app/client/features/viewer/edit-info/info-editor.tsx
  app/client/features/viewer/edit-password/password-editor.tsx
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/profile/views/account/account.tsx
  app/client/shared/components/button/button.scss
  app/client/shared/components/button/button.tsx
  app/client/widgets/page-layouts/game/game-layout.tsx
Due: lint, prettier

refactor(card): add card parts
  app/client/shared/components/card/card.module.scss
  app/client/shared/components/card/card.scss
  app/client/shared/components/card/card.tsx
  app/client/shared/components/card/parts/body.tsx
  app/client/shared/components/card/parts/footer.tsx
  app/client/shared/components/card/parts/subtitle.tsx
  app/client/shared/components/card/parts/title.tsx
  app/client/shared/components/card/types.ts
  app/client/shared/styles/colors.scss
  app/client/widgets/page-layouts/game/game-layout.tsx
  app/client/widgets/the-navbar/views/tabs/navbar-tabs.scss
Due: lint, prettier

refactor: update leaderboard
  app/client/entities/player/components/player-list/player-list.module.scss
  app/client/entities/player/components/player-list/player-list.tsx
  app/client/entities/post/components/list/posts-list.module.scss
  app/client/entities/post/components/list/posts-list.tsx
  app/client/entities/post/index.ts
  app/client/features/forum/index.ts
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/leader-board/leader-board.module.scss
  app/client/pages/leader-board/leader-board.scss
  app/client/pages/leader-board/leader-board.tsx
  app/client/shared/components/grid/components/container/container.scss
  app/client/shared/components/grid/components/container/container.tsx
  app/client/shared/components/grid/components/row/row.scss
  app/client/shared/components/grid/components/row/row.tsx
  app/client/shared/components/input/components/input-wrapper/input-wrapper.tsx
  app/client/shared/components/input/inputs/text-input/text-input.tsx
Due: lint, prettier

refactor(post): refactor posts page
  app/client/entities/comment/components/list/components/comment-input.tsx
  app/client/entities/comment/components/list/list.scss
  app/client/entities/comment/components/list/list.tsx
  app/client/entities/comment/components/list/views/empty/empty.module.scss
  app/client/entities/comment/components/list/views/empty/empty.tsx
  app/client/entities/comment/components/list/views/index.ts
  app/client/entities/comment/components/list/views/list/list.module.scss
  app/client/entities/comment/components/list/views/list/list.tsx
  app/client/entities/comment/index.ts
  app/client/entities/post/components/list/list.scss
  app/client/entities/post/components/list/list.tsx
  app/client/entities/post/components/list/posts-list.module.scss
  app/client/entities/post/components/list/posts-list.tsx
  app/client/entities/post/components/overview/overview.scss
  app/client/entities/post/components/overview/overview.tsx
  app/client/entities/post/index.ts
  app/client/features/forum/components/comments-list/comments-list.module.scss
  app/client/features/forum/components/post-overview/post-overview.module.scss
  app/client/features/forum/index.ts
  app/client/pages/forum/topic/topic.module.scss
  app/client/pages/forum/topic/topic.tsx
  app/client/shared/components/card/card.scss
  app/client/shared/styles/colors.scss
  app/server/controllers/posts/get-posts.ts
  app/shared/models/post.ts
  package-lock.json
  package.json
Due: lint, prettier

refactor(navbar): replace tabs on items
  app/client/pages/index.module.scss
  app/client/pages/index.scss
  app/client/pages/index.tsx
  app/client/shared/components/card/card.scss
  app/client/shared/components/card/card.tsx
  app/client/shared/components/icon/icon.module.scss
  app/client/shared/components/icon/icon.tsx
  app/client/shared/types/svg.d.ts
  app/client/widgets/page-layouts/auth/auth-layout.tsx
  app/client/widgets/the-navbar/icons/home-icon.svg
  app/client/widgets/the-navbar/icons/leader-board-icon.svg
  app/client/widgets/the-navbar/icons/profile-icon.svg
  app/client/widgets/the-navbar/icons/settings-icon.svg
  app/client/widgets/the-navbar/index.tsx
  app/client/widgets/the-navbar/navbar.tsx
  app/client/widgets/the-navbar/the-navbar.scss
  app/client/widgets/the-navbar/the-navbar.tsx
  app/client/widgets/the-navbar/views/icons/navbar-icons.module.scss
  app/client/widgets/the-navbar/views/icons/navbar-icons.tsx
  app/client/widgets/the-navbar/views/tabs/navbar-tabs.scss
  app/client/widgets/the-navbar/views/tabs/navbar-tabs.tsx
  app/server/app/utils.ts
  package-lock.json
  package.json
  vite.client.config.ts
  vite.server.config.ts
Due: lint, prettier

refactor(font): update font
  app/client/shared/styles/fonts.scss
Due: prettier

feat(container): add container component
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/leader-board/leader-board.tsx
  app/libs/uikit/components/anchor/anchor.stories.tsx
  app/libs/uikit/components/anchor/anchor.tsx
  app/libs/uikit/components/container/container.scss
  app/libs/uikit/components/container/container.tsx
  app/libs/uikit/components/container/index.ts
  app/libs/uikit/components/grid/components/col.tsx
  app/libs/uikit/components/grid/grid.stories.tsx
  app/libs/uikit/components/grid/grid.tsx
  app/libs/uikit/components/grid/index.tsx
  app/libs/uikit/components/grid/styles.scss
  app/libs/uikit/styles/classes.scss
  app/libs/uikit/styles/index.scss
  app/libs/uikit/styles/radius.scss
  app/libs/uikit/utils/background.scss
  app/libs/uikit/utils/background.ts
  app/libs/uikit/utils/color.ts
  app/libs/uikit/utils/elevation.scss
  app/libs/uikit/utils/elevation.ts
  app/libs/uikit/utils/flex.scss
  app/libs/uikit/utils/flex.ts
  app/libs/uikit/utils/index.ts
  app/libs/uikit/utils/margin-and-padding.scss
  app/libs/uikit/utils/margin-and-padding.ts
  app/libs/uikit/utils/rounded.scss
  app/libs/uikit/utils/rounded.ts
  app/libs/uikit/utils/span.ts
Due: lint, prettier

refactor(forum): start refactor forum
  app/client/entities/post/components/list/list.scss
  app/client/entities/post/components/list/list.tsx
  app/client/entities/post/components/overview/overview.tsx
  app/client/pages/forum/topics/topics.module.scss
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/index.scss
  app/client/shared/components/card/card.scss
  app/client/shared/components/card/parts/body.tsx
  app/client/shared/components/card/parts/footer.tsx
  app/client/shared/components/card/parts/subtitle.tsx
  app/client/shared/components/card/parts/title.tsx
  app/client/shared/components/grid/components/col/col.tsx
  app/client/shared/components/grid/components/container/container.scss
  app/client/shared/components/grid/components/row/row.tsx
  app/client/shared/components/input/inputs/text-input/text-input.module.scss
  app/client/shared/styles/index.scss
  app/client/widgets/page-layouts/game/game-layout.module.scss
  app/client/widgets/the-navbar/the-navbar.tsx
  app/server/controllers/posts/get-post.ts
Due: lint, prettier

refactor(forum): refactor topics page
  app/client/features/forum/components/post-form-dialog/post-form-dialog.tsx
  app/client/pages/forum/topics/topics.module.scss
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/leader-board/leader-board.tsx
  app/libs/uikit/components/avatar/avatar.stories.tsx
  app/libs/uikit/components/avatar/avatar.tsx
  app/libs/uikit/components/button/button.stories.tsx
  app/libs/uikit/components/button/button.tsx
  app/libs/uikit/components/card/card.tsx
  app/libs/uikit/components/card/types.ts
  app/libs/uikit/components/container/container.scss
  app/libs/uikit/components/container/container.tsx
  app/libs/uikit/components/grid/components/col.tsx
  app/libs/uikit/components/grid/components/row.tsx
  app/libs/uikit/components/grid/grid.stories.tsx
  app/libs/uikit/components/grid/grid.tsx
  app/libs/uikit/components/grid/index.tsx
  app/libs/uikit/components/grid/styles.scss
  app/libs/uikit/components/input/classes.ts
  app/libs/uikit/utils/display.scss
  app/libs/uikit/utils/display.ts
  app/libs/uikit/utils/elevation.ts
  app/libs/uikit/utils/flex.scss
  app/libs/uikit/utils/flex.ts
  app/libs/uikit/utils/index.ts
  app/libs/uikit/utils/rounded.ts
  app/libs/uikit/utils/width-and-height.ts
  app/libs/uikit/utils/width.ts
Due: lint, prettier

refactor(uikit): move other components to uikit
  app/client/entities/post/components/list/list.tsx
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/index.tsx
  app/client/pages/leader-board/leader-board.tsx
  app/client/pages/profile/views/loading/loading.tsx
  app/client/shared/components/grid/classnames.ts
  app/client/shared/components/grid/components/col/col.scss
  app/client/shared/components/grid/components/col/col.tsx
  app/client/shared/components/grid/components/col/index.ts
  app/client/shared/components/grid/components/container/container.module.scss
  app/client/shared/components/grid/components/container/container.scss
  app/client/shared/components/grid/components/container/container.tsx
  app/client/shared/components/grid/components/container/index.ts
  app/client/shared/components/grid/components/row/index.ts
  app/client/shared/components/grid/components/row/row.module.scss
  app/client/shared/components/grid/components/row/row.scss
  app/client/shared/components/grid/components/row/row.tsx
  app/client/shared/components/grid/index.ts
  app/client/shared/components/grid/styles/globals.module.css
  app/client/shared/components/grid/styles/gutters.module.scss
  app/client/shared/components/grid/styles/vars.scss
  app/client/shared/components/grid/types.ts
  app/client/shared/components/grid/utils.ts
  app/client/shared/components/view-placeholder/index.ts
  app/client/shared/components/view-placeholder/view-placeholder.tsx
  app/libs/uikit/components/grid/classes.ts
  app/libs/uikit/components/grid/components/col.tsx
  app/libs/uikit/components/grid/components/row.tsx
  app/libs/uikit/components/grid/index.tsx
  app/libs/uikit/components/grid/styles.scss
  app/libs/uikit/components/grid/types.ts
  app/libs/uikit/components/placeholder/index.ts
  app/libs/uikit/components/placeholder/placeholder.scss
  app/libs/uikit/components/placeholder/placeholder.tsx
  app/libs/uikit/types/breakpoint.ts
  app/libs/uikit/types/index.ts
  app/libs/uikit/utils/flex.ts
  app/libs/uikit/utils/index.ts
  app/libs/uikit/utils/span.ts
  app/libs/uikit/utils/width.ts
Due: lint, prettier

refactor(comment): move comment-input
  app/client/entities/comment/components/input/input.tsx
  app/client/entities/comment/components/list/list.tsx
Due: lint, prettier

refactor(forum): update posts list
  app/client/entities/post/components/filter/filter.tsx
  app/client/entities/post/components/item/item.tsx
  app/client/entities/post/components/item/types.ts
  app/client/entities/post/components/item/views/card/card.scss
  app/client/entities/post/components/item/views/card/card.tsx
  app/client/entities/post/components/item/views/list-item/list-item.scss
  app/client/entities/post/components/item/views/list-item/list-item.tsx
  app/client/entities/post/components/list/list.scss
  app/client/entities/post/components/list/list.tsx
  app/client/entities/post/index.ts
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/leader-board/leader-board.tsx
  app/client/shared/components/card/card.scss
  app/client/shared/components/grid/classnames.ts
  app/client/shared/components/grid/components/col/col.module.scss
  app/client/shared/components/grid/components/col/col.scss
  app/client/shared/components/grid/components/col/col.tsx
  app/client/shared/components/grid/types.ts
  app/client/shared/components/tabs/classnames.ts
  app/client/shared/components/tabs/index.tsx
  app/client/shared/components/tabs/tabs.scss
  app/client/shared/components/tabs/types.ts
Due: lint, prettier

refactor(uikit): move more components to uikit
  app/client/app/app.spa.tsx
  app/client/entities/player/components/player-list/player-list.tsx
  app/client/entities/user/components/auth-form/auth-form.tsx
  app/client/entities/user/components/avatar/avatar.tsx
  app/client/shared/components/icon/icon.module.scss
  app/client/shared/components/icon/index.ts
  app/client/shared/components/styled-link/StyledLink.module.scss
  app/client/shared/components/styled-link/StyledLink.tsx
  app/client/shared/components/styled-link/index.ts
  app/client/shared/components/table/Component.tsx
  app/client/shared/components/table/components/Cell/Component.tsx
  app/client/shared/components/table/components/Cell/index.ts
  app/client/shared/components/table/components/Row/Component.tsx
  app/client/shared/components/table/components/Row/index.ts
  app/client/shared/components/table/index.ts
  app/client/shared/components/table/styles.module.scss
  app/client/shared/components/table/types.d.ts
  app/client/widgets/page-error-boundary/PageErrorBoundary.tsx
  app/client/widgets/the-navbar/the-navbar.tsx
  app/libs/uikit/components/anchor/anchor.scss
  app/libs/uikit/components/anchor/anchor.tsx
  app/libs/uikit/components/anchor/index.ts
  app/libs/uikit/components/avatar/avatar.scss
  app/libs/uikit/components/avatar/avatar.tsx
  app/libs/uikit/components/avatar/index.ts
  app/libs/uikit/components/dialog/dialog.scss
  app/libs/uikit/components/dialog/dialog.tsx
  app/libs/uikit/components/dialog/hooks.ts
  app/libs/uikit/components/dialog/index.ts
  app/libs/uikit/components/icon/icon.scss
  app/libs/uikit/components/icon/icon.tsx
  app/libs/uikit/components/icon/index.ts
  app/libs/uikit/theme/constants.ts
  app/libs/uikit/theme/context.tsx
  app/libs/uikit/theme/types.ts
Due: lint, prettier

refactor(uikit): integrate card and dialog
  app/client/features/forum/components/post-form-dialog/post-form-dialog.module.scss
  app/client/features/forum/components/post-form-dialog/post-form-dialog.tsx
  app/client/features/viewer/edit-avatar/avatar-editor.module.scss
  app/client/features/viewer/edit-avatar/avatar-editor.tsx
  app/client/features/viewer/edit-info/info-editor.module.scss
  app/client/features/viewer/edit-info/info-editor.tsx
  app/client/features/viewer/edit-password/password-editor.module.scss
  app/client/features/viewer/edit-password/password-editor.tsx
  app/client/pages/forum/topics/topics.tsx
  app/client/pages/profile/views/account/account.tsx
  app/client/shared/components/dialog/dialog.scss
  app/client/shared/components/dialog/dialog.tsx
  app/client/shared/components/dialog/hooks.ts
  app/client/shared/components/dialog/index.ts
  app/libs/uikit/components/card/card.tsx
  app/libs/uikit/components/card/index.ts
  app/libs/uikit/components/card/parts/title.tsx
  app/libs/uikit/components/card/types.ts
  app/libs/uikit/components/dialog/dialog.scss
  app/libs/uikit/components/dialog/dialog.stories.tsx
  app/libs/uikit/components/dialog/dialog.tsx
  app/libs/uikit/components/dialog/hooks.ts
  app/libs/uikit/components/dialog/index.ts
  app/libs/uikit/components/dialog/parts.tsx
  app/libs/uikit/styles/animations.scss
  app/libs/uikit/theme/constants.ts
  app/libs/uikit/theme/context.tsx
  app/libs/uikit/theme/types.ts
  app/libs/uikit/utils/index.ts
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css,scss}
